{% extends 'core/base_admin.html' %}

{% load i18n static humanize user_agents auth_tokens cache %}

{% block app_admin_nav %}
    <div class="divider"></div>
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="homepage">
            <a href="{% url 'enfinchezmoi:post_list' %}" onclick="$(this).css('background','#ecf0f1')">{% trans "Posts" %}</a>
        </li>
        <li role="presentation" class="menus">
            <a href="{% url 'enfinchezmoi:reservation_list' %}" onclick="$(this).css('background','#ecf0f1')">
                {% trans "Reservations" %}
            </a>
        </li>
        <li role="presentation" class="payments">
            <a href="{% url 'billing:payment_list' %}">{% trans "Payments" %}</a>
        </li>

        <li role="presentation" class="payments">
            <a href="{% url 'billing:subscription_list' %}">{% trans "Subscriptions" %}</a>
        </li>
        <div class="divider"></div>
        <li role="presentation" class="menus">
            <a href="{% url 'enfinchezmoi:category_list' %}" onclick="$(this).css('background','#ecf0f1')">
                {% trans "Categories" %}
            </a>
        </li>
        <li role="presentation" class="menus">
            <a href="{% url 'enfinchezmoi:subcategory_list' %}" onclick="$(this).css('background','#ecf0f1')">
                {% trans "Subcategories" %}
            </a>
        </li>
        <li role="presentation" class="menus">
            <a href="{% url 'enfinchezmoi:city_list' %}" onclick="$(this).css('background','#ecf0f1')">
                {% trans "Cities" %}
            </a>
        </li>
        <li role="presentation" class="menus">
            <a href="{% url 'enfinchezmoi:hood_list' %}" onclick="$(this).css('background','#ecf0f1')">
                {% trans "Hoods" %}
            </a>
        </li>
        <li role="presentation" class="menus">
            <a href="{% url 'enfinchezmoi:change_owner' %}" onclick="$(this).css('background','#ecf0f1')">
                {% trans "Create owner" %}
            </a>
        </li>
    </ul>
{% endblock %}


{% block basic_nav %}{% endblock %}
{% block sudo_nav %}{% endblock %}