{% extends "enfinchezmoi/home.html" %}
{% load i18n static webdesign humanize user_agents %}

{% block page_title %}
    <title>
        {% if category %}
            {% if subcategory %}
                {{ category }} - {{ subcategory }} - {{ service.project_name }}
            {% else %}
                {{ category }} -{{ service.project_name }}
            {% endif %}
        {% else %}
            {% with first_post=post_list|first %}
                {% if post_count != 0 %}
                    {% blocktrans with project_name=service.project_name %}{{ first_post.subcagtegory.category }} of {{ first_post.subcategory }} at {{ first_post.hood }} - {{ project_name }}{% endblocktrans %}
                {% else %}
                    {% blocktrans with project_name=service.project_name  %}0 ads match your research yet - {{ project_name }}{% endblocktrans %}
                {% endif %}
            {% endwith %}
        {% endif %}
    </title>
{% endblock %}

{% block content %}
    <div style="padding-top: 50px; min-height: 800px;">
        {% if post_count == 0 %}
            <div class="col-md-10 col-md-offset-1">
                <div class="error-message">
                    {% blocktrans %}
                        <h1>Aww!!! No post matches your research.</h1>
                    {% endblocktrans %}
                </div>
                <div style="margin: 10vh 0 0; text-align: center;">
                    {% blocktrans %}
                        <h3 style="line-height: 40px;">But, you might be interested by this!</h3>
                    {% endblocktrans %}
                </div>
                {% for post in all_post_list %}
                    {% if forloop.counter < 7 %}
                        <div class="col-md-4" style="padding-bottom: 50px">
                            <div class="post">
                                <a class="" href="{% url 'enfinchezmoi:post_detail' post.subcategory.category.slug post.subcategory.slug post.hood.slug post.id %}">
                                    {% if post.photos %}
                                        <!-- Swiper -->
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                {% for photo in post.photos %}
                                                <div class="item-image swiper-slide" style="background-image: url({{ photo.image.url }});"></div>
                                                {% endfor %}
                                            </div>
                                            <!-- Add pagination -->
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    {% endif %}
                                </a>
                                <h3>{{ post.subcategory }}</h3>
                                <h4 class="rooms">{% if post.room_count > 0 %}{{ post.room_count }} {% trans "room(s)" %} &bullet; {% endif %}{% if post.bedroom_count > 0 %}{{ post.bedroom_count }} {% trans "bedroom(s)" %} &bullet; {% endif %}{% if post.bathroom_count > 0 %}{{ post.bathroom_count }} {% trans "bathroom(s)" %} &bullet; {% endif %}{% if post.surface %}{{ post.surface }} m<sup>2</sup>{% endif %}</h4>
                                <p class="company-description">
                                    {{ post.description|truncatewords:30|safe }}
                                </p>
                                <div class="post-cost hidden-xs" data-post-cost="{{ post.cost }}"><span class="cost" style="font-size: 2.2vw; font-weight: 900;"></span><span style="font-size: 16px">&nbsp;&nbsp;{{ config.currency_symbol }}&nbsp;{% if post.subcategory.name == 'Terrain' or post.subcategory.name == 'Field'  %}/m<sup>2</sup>{% endif %}</span></div>
                                <div class="post-cost visible-xs" data-post-cost="{{ post.cost }}"><span class="cost" style="font-size: 10vw; font-weight: 900;"></span><span style="font-size: 16px">&nbsp;&nbsp;{{ config.currency_symbol }}&nbsp;{% if post.subcategory.name == 'Terrain' or post.subcategory.name == 'Field'  %}/m<sup>2</sup>{% endif %}</span></div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="clearfix"></div>
        {% else %}
            {% for post in post_list %}
                <div style="height: 300px;">
                    <div class="col-md-offset-1 col-xs-offset-0">
                        <div class="post">
                            <div class="col-lg-3 col-md-6 col-sm-7 col-xs-12 text-center">
                                <a class="" href="{% url 'enfinchezmoi:post_detail' post.subcategory.category.slug post.subcategory.slug post.hood.slug post.id %}">
                                    {% if post.image %}
                                        {% if post.photos %}
                                            <!-- Swiper -->
                                            <div class="swiper-container">
                                                <div class="swiper-wrapper">
                                                    {% for photo in post.photos %}
                                                    <div class="item-image swiper-slide" style="background-image: url({{ photo.image.url }});"></div>
                                                    {% endfor %}
                                                </div>
                                                <!-- Add pagination -->
                                                <div class="swiper-pagination"></div>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <div class="pull-left text-center" style="width: 300px; height: auto;">
                                            <i class="fas fab fa-building" style="font-size: 100px; line-height: 200px;"></i>
                                        </div>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-7 col-xs-12">
                                <h3>{{ post.subcategory }}</h3>
                                <h4>{% if post.room_count > 0 %}{{ post.room_count }} {% trans "room(s)" %} &bullet; {% endif %}{% if post.bedroom_count > 0 %}{{ post.bedroom_count }} {% trans "bedroom(s)" %} &bullet; {% endif %}{% if post.bathroom_count > 0 %}{{ post.bathroom_count }} {% trans "bathroom(s)" %} &bullet; {% endif %}{% if post.surface %}{{ post.surface }} m<sup>2</sup>{% endif %}</h4>
                                <p>
                                    {{ post.description|truncatewords:40|safe }}
                                </p>
                                <div class="post-cost hidden-xs" data-post-cost="{{ post.cost }}">
                                    <span class="cost" style="font-size: 2.2vw; font-weight: 900; display: inline;"></span><span style="font-size: 16px">&nbsp;&nbsp;{{ config.currency_symbol }}&nbsp;{% if post.subcategory.name == 'Terrain' or post.subcategory.name == 'Field'  %}}&nbsp;/&nbsp;m<sup>2</sup>{% else %}&nbsp;/&nbsp;day{% endif %}</span>
                                </div>
                                <div class="post-cost visible-xs" data-post-cost="{{ post.cost }}">
                                    <span class="cost" style="font-size: 8vw; font-weight: 900; display: inline;"></span><span style="font-size: 16px">&nbsp;&nbsp;{{ config.currency_symbol }}&nbsp;{% if post.subcategory.name == 'Terrain' or post.subcategory.name == 'Field'  %}}&nbsp;/&nbsp;m<sup>2</sup>{% else %}&nbsp;/&nbsp;day{% endif %}</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}